<a href="<%=edit_user_path(@user.id)%>">Edit profile</a>
<a href="<%=user_path(@user.id)%>" data-method="delete" data-confirm="Are you sure?">delete profile</a>

<p><a href = "<%= logout_path %>">log out</a></p>

<!-- chores -->

<%@chores = @user.chores %>
<strong>Chores To-Do:</strong>
<%@chores.each do |chore| %>
<% if chore.done =="false" %>
<p>
  <%= chore.name %><a href="<%= chore_path(chore.id) %>" data-method="put"> Mark as Done</a>--
  <a href="<%=   chore_path(chore.id) %>" data-method="delete">delete</a>
</p>
<%end%>
<%end%>

<strong>Chores that are done:</strong>
<%@chores.each do |chore| %>
<% if chore.done =="true" %>
<p>
  <%= chore.name %><a href="<%= chore_path(chore.id) %>" data-method="put"> Mark as Not Done</a>--
  <a href="<%= chore_path(chore.id) %>" data-method="delete">delete</a>
</p>
<%end%>
<%end%>

<strong>Add new chore</strong>

<%= form_tag chores_path, :method => "post" do %>
<p>
  Chore Name: <input type="text" placeholder="chore" name="chore[name]" 
  required>
  <input type="hidden" name="chore[user_id]" 
  value="<%= @user.id %>">
  <input type="hidden" name="chore[done]" 
  value="false">
  <input type="submit" value="submit">
</p>
<%end%>


